<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Discovery Creative</string>
	<key>uuid</key>
	<string>DFF2FC51-F180-4DA8-8615-55110945C8CC</string>
</dict>
</plist>
