<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>DiscoveryCreative</string>
	<key>ordering</key>
	<array>
		<string>6227379A-241B-4F2D-ABD3-342DF881C812</string>
		<string>D506BE09-19F9-43E6-A889-78904347A854</string>
	</array>
	<key>uuid</key>
	<string>DFF2FC51-F180-4DA8-8615-55110945C8CC</string>
</dict>
</plist>
